*{margin: 0; padding: 0;}
ul{
  list-style-type: none;
}
body{
  max-width: 100%;
  background: #fcf9f4;
}

header{
  width: 100%;
  padding: 1%;
  background: #00a87f;
  color: #fcf9f4;
  margin-bottom: 20px;
}

.inputField{
  margin: 15px 0;
}

.barcodeCon{
  align-self: auto;
  background: #CCC;
}

.image img{
  width: 90%;
}

.contentCon{
  margin-top: 20px;
}

.statusItem{
  margin-bottom: 5px;
}
.green{color: green}
.red{color: red}

.bgred{background: #F00;}
.bgblue{background: #00F;}
